<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="about-info">
            <p>Created By : Akash Patel</p>
            <p>Deployed On : Heroku</p>
            <p>Backend : Node JS</p>
            <p>View Engine : HBS</p>
            <p>API's Used : Darksky, LocationIQ</p>
        </div>
    </div>
    <div class="footer-container">
        {{>footer}}
    </div>
</body>

</html>