<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#515151">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title>About - Weather App</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="about-info">
            <p>This is a simple weather app built using nodejs. This app uses API provided by LocationIQ.com and Darksky.net to find coordinates and then find the respective weather of that location.</p>
            <p>This app uses some external node packages like request, express and hbs which is used as the view engine for this app.</p>
            <p>The locations are stored in the local storage of the browser and are used as favourites.</p>
            <h4>Developed By : Akash Patel</h4>
            <a href="https://akpatel363.github.io" class="btn btn-green">Blog</a>
            <a href="https://darksky.net" class="btn btn-blue">Darksky.net</a>
            <a href="https://locationiq.com" class="btn btn-red">LocationIQ.com</a>
            <a href="https://github.com/akpatel363" class="btn btn-dark">Github Profile</a>
            <a href="https://github.com/akpatel363/weather-app" class="btn btn-violet">Repository</a>
        </div>
    </div>
    <div class="footer-container">
        {{>footer}}
    </div>
</body>

</html>