<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#515151">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title>Weather</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="form">
            <form id="location-form">
                <input type="text" placeholder="Enter Location">
                <button type="submit" class="submit-button">Search</button>
            </form>
        </div>
        <div class="progress-bar progress-bar-hide">
            <span></span>
        </div>
        <div class="search-results">
            <i class="" onclick="addToFavourites()"></i>
            <h2 id="location-name"></h2>
            <p id="weather-details"></p>
        </div>
        <div class="error-message invisible">
            <i class="fa fa-exclamation-circle fa-5x"></i>
            <h2>Something Went Wrong</h2>
            <h3 class="message">Unable to connect To Server.</h3>
        </div>
    </div>
    <div class="footer-container">
        {{>footer}}
    </div>
    <script src="/js/client.js"></script>
</body>

</html>