<header>
    <h1>{{ title }}</h1>
    <nav>
        <a href="/" class={{ baseClass }}>Home</a>
        <a href="/favourites" class={{ favouritesClass }}>Favourites</a>
        <a href="/about" class={{ aboutClass }}>About</a>
    </nav>
</header>