body{
    color: #333333;
    font-family:  "Poppins",sans-serif;
    margin: 0;
}
.main-content{
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    padding-bottom: 10px;
}
.footer-container{
    background: #222222;
    color: #ffffff !important;
    min-height: 40px;
    padding: 15px;margin: 0;
    text-align: center;
    letter-spacing: 1px;
}
.footer-container h4{
    margin: 0 auto 6px;
}
.footer-container h5{
    margin: 6px auto 0;    
}
h1{
    font-size: 3em;
    letter-spacing: 1px;
}
nav{
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
}
nav a {
    margin:0 20px 0 0;
    font-size: 1.5em;
    color: #666666;
    text-decoration: none;
    transition: 0.4s;
}
nav .active{
    text-decoration: underline;
}
nav a:hover{
    color: #222222;
}

form input{
    margin-top: 20px;
    padding: 6px 2%;
    font-size: 1.3em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
}

.invisible{
    display: none;
}

.submit-button{
    margin-top: 15px;
    font-size: 1.3em;
    padding: 6px 12px;
    color: white;
    border: none;
    border-radius: 4px;
    background: #616161;
    box-shadow: 1px 2px 1px rgba(0, 0,0,.3);
    transition: .3s;
}
.submit-button:focus{
    outline: none;
    background: #313131;
}

.progress-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.progress-bar-hide{
    display: none;
}

.progress-bar span{
    height: 100px;
    width: 100px;
    margin: 60px 0;
    border-right: 8px solid #414141;
    border-left: 8px solid #414141;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-radius: 50%;
    animation: 1s progress-bar-anim ease-in-out infinite alternate;
}

@keyframes progress-bar-anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.search-results{
    margin-top: 30px;
}

.search-results h2{
    margin: 10px 0px;
    letter-spacing: 1px;
}
.search-results p{
    margin:10px 0px;
    font-size: 1.2em;
}

.about-info{
    margin-top: 15px;
}
.about-info *{
    margin: 0;
}
.about-info p{
    margin-top: 5px;
    font-size: 1.5em;
    text-align: justify;
}
.about-info h4{
    margin-top: 12px;
    font-size: 1.5em;
    margin-bottom: 12px;
}
.fav-icon{
    font-size: 2em;
    float: right;
    margin: 0;
    margin-top: 10px;
}
.btn{
    font-size: 20px;
    line-height: 44px;
    text-decoration: none;
    box-sizing: content-box;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    white-space: nowrap;
}
.btn-blue{
    color: white;
    background: royalblue;
}
.btn-red{
    color: white;
    background: firebrick;
}
.btn-green{
    color: white;
    background: forestgreen;
}
.btn-dark{
    color: white;
    background: #333333;
}

.btn-violet{
    color: white;
    background: #ff9800;
}

.error-code{
    font-weight: 1000;
    text-align: center;
    font-size: 4em;
    margin-bottom: 0px;
}

.error-message{
    text-align: center;
}

.message{
    margin-top: 0;
}

@media(max-width:450px){
    body{
        font-size: .8em;
    }
}